.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
  width: 100%;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  z-index: 1;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.center-content {
  text-align: center;
  padding: 2rem;
  z-index: 1;
}

#score-display {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  z-index: 1000;
}

.center-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  z-index: 1;
}

#home img {
  display: block;
  margin: auto;
  height: 48%;
  width: 48%;
  transform: rotate(20deg);
  z-index: 1;
  
}

#logo-img {
  height: 80px;
  z-index: 1;
}

table {
  border-collapse: separate;
  border-spacing: 200px 0;
  table-layout: auto;
}

th, td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

th:first-child, td:first-child {
  white-space: nowrap;
}